* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
ul {
  margin-bottom: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.logo {
  height: 100px;
}

.menu-bar {
  z-index: 500;
  background-color: white;
  transition: 0.8s;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-menu li {
  border-radius: 10px;
  padding: 10px 15px;
}
.main-menu li a {
  width: 100%;
  height: 100%;
  font-size: 110%;
  font-weight: 700;
  display: inline-block;
  color: #383c4b;
}
.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.main-menu li:hover {
  transition: 1s;
  background-color: #0288d1;
}
.main-menu li:hover a {
  color: white;
}
.infor {
  text-align: center;
  margin-top: 160px;
}
.infor h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.my-image {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.my-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.col-xl-3 {
  flex: 0 0 auto;
  width: 29%;
}

ul.timeline {
  font-size: 1.3rem;
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.my-project {
  text-align: center;
  padding: 100px 0;
}
.project-row {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
}
.my-project .project-item {
  font-size: 1.2rem;
  /*overflow: hidden;*/
  width: 250px;
  height: 300px;
  margin: 0 20px;
  text-align: center;
}
.my-project .project-item .preview {
  margin-bottom: 10px;
}
.my-project .project-item .preview img {
  width: 100%;
  height: 185px;
  object-fit: cover;
}
